<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/index.html">Dante's</a> Corner</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li>
					<a href="" class="icon fa-angle-down">Drawers</a>
					<ul>
						<li><a href="#">Musik</a></li>
						<li><a href="#">Politik</a></li>
						<li><a href="#">Matematik</a></li>
						<li>
							<a href="">Imaging</a>
							<ul>
								<li><a href="#">Model2Image</a></li>
								<li><a href="#">Visualization</a></li>
								<li><a href="#">Learning</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/publications">Publications</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
